.container{
  width: 60%;
}
.img-fluid {
  max-height: 200px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste bien */
}

.text-justify {
  text-align: justify;
}


.card-text,.card-title {
  color: 
  rgb(33, 37, 41)
  ;
}

.text-span {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #0d6efd;
}

.text-span:hover {
  color: #ff6f91; /* Color de hover */
}

.custom-btn {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
  border-color: #0d6efd;
}

.custom-btn:hover {
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.container-btn {
  display: flex;
  gap: 20px;
}
