<footer class="footer-bg text-black mt-auto py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center mb-md-0">
        <ul class="list-inline">
          <li class="list-inline-item"><a class="text-black text-decoration-none" [routerLink]="['/home']"><i class="fas fa-home"></i>
              Home</a></li>
          <li class="list-inline-item"><a class="text-black text-decoration-none"  [routerLink]="['/aboutme']"><i class="fas fa-user"></i>
              Sobre mi</a></li>
          <li class="list-inline-item"><a class="text-black text-decoration-none" href="#"><i
                class="fas fa-envelope"></i> Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center mb-md-0">
        <ul class="list-inline">
          <li class="list-inline-item">
              <a class="text-black text-decoration-none" target="_blank" href="https://www.linkedin.com/in/griselda-daiana-alegre-b74680197/">
                  <i class="fab fa-linkedin"></i>
                  <span class="icon-text">Griselda Daiana Alegre</span>
              </a>
          </li>
          <li class="list-inline-item">
              <a class="text-black text-decoration-none" target="_blank" href="https://github.com/griseldaalegre">
                  <i class="fab fa-github"></i>
                  <span class="icon-text">griseldaalegre</span>
              </a>
          </li>
          <li class="list-inline-item">
              <a class="text-black text-decoration-none" target="_blank" href="#">
                  <i class="fas fa-envelope"></i>
                  <span class="icon-text">alegregriselda5&#64;gmail.com</span>
              </a>
          </li>
      </ul>
      
      </div>
    </div>
  </div>
</footer>