<footer class="footer-bg text-muted mt-auto py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center mb-md-0">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="text-muted text-decoration-none item-redes" [routerLink]="['/home']"><i
                class="fas fa-home "></i> Inicio</a></li>
          <li class="list-inline-item"><a class="text-muted text-decoration-none item-redes" [routerLink]="['/aboutme']"><i
                class="fas fa-user"></i> Sobre mí</a></li>
      
        </ul>
      </div>
      <div class="col-md-4 text-center mb-md-0">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="text-muted text-decoration-none item-redes" target="_blank"
              href="https://www.linkedin.com/in/griselda-daiana-alegre-b74680197/">
              <i class="fab fa-linkedin item-redes"></i> LinkedIn
            </a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted text-decoration-none item-redes" target="_blank"
              href="https://github.com/griseldaalegre">
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted text-decoration-none item-redes" href="mailto:alegregriselda5@gmail.com">
              <i class="fas fa-envelope"></i> Email
            </a>
          </li>
        </ul>
      </div>


    </div>
    <div class="text-center mt-3">
      <small>&copy; 2024 Lorem ipsum dolor sit amet consectetur..</small>
    </div>
  </div>
</footer>