<div class="container container-about">
    <div class="d-flex align-items-start">
        <h1 class="text-uppercase ">Sobre mi</h1>
    </div>
    <div class="text-justify">
        <img class="" src="./assets/d2.png" alt="">
        <p>Hola, soy Griselda, desarrolladora Frontend en formación.</p>
        <p>Actualmente estoy cursando una Tecnicatura en Desarrollo de Aplicaciones en la
            Universidad Nacional del Centro (Unicen), además de capacitarme en Angular.
        </p>
        <p>Mi experiencia incluye la participación en bootcamps y cursos de programación, adquiriendo
            habilidades en HTML, CSS, JavaScript, PHP, Git, GitHub, así como
            conocimientos en Java y Angular.</p>
        <p>
            También he ralizado cursos de Software Testing QA, Análisis y Diseño de Casos de Pruebas.
        </p>
        <p>Antes de entrar al mundo IT, trabajé en una empresa de
            seguridad, gestionando el control de acceso, inventario y ofreciendo
            orientación al cliente. Esta experiencia me brindó valiosas lecciones
            sobre el trabajo en equipo, la comunicación y la organización con mis
            compañeros.
        </p>
        <p>Además, tengo experiencia en atención al cliente, asumiendo
            responsabilidades de forma independiente y desarrollando habilidades de
            organización y gestión del tiempo para cumplir eficientemente con las
            tareas asignadas.
        </p>
        <p>Gestioné mi propio emprendimiento, manejando y
            diseñando contenido para redes sociales, demostrando habilidades de
            organización en la gestión de stock.</p>
        <p>Mi enfoque no solo se centra en el desarrollo técnico, sino también en
            la capacidad de trabajo colaborativo, la comunicación efectiva y la
            gestión eficiente del tiempo.</p>
        <p>Estoy entusiasmada pora aplicar y mejorar lo que he apendido hasta hoy.</p>
        

    </div>

    <div class="container mt-5 p-4 bg-container-formation rounded">
        <h1 class="text-uppercase mb-4">Técnologias</h1>
    
        <ul class="list-inline text-center">
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-html5" style="font-size:48px;color:#E34F26"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-angular" style="font-size:48px;color:red"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-js" style="font-size:48px;color:#F7DF1E"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-php" style="font-size:48px;color:#777BB4"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-css3-alt" style="font-size:48px;color:red"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-github" style="font-size:48px;"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-git" style="font-size:48px;"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="fab fa-java" style="font-size:48px;color:red"></i>
            </li>
            <li class="list-inline-item mx-3 mb-3">
                <i class="devicon-typescript-plain colored" style="font-size: 48px;"></i>
            </li>
        </ul>
    </div>
    

    <div class="container mt-5 p-4 bg-container-formation rounded">

        <h1 class="text-uppercase mb-4">Formación</h1>
        <ul class="list-unstyled d-flex flex-wrap">
            @for(formation of formations; track formation){
            <li class="mb-2 col-md-6">
                <h3 class="h5 text-color">{{ formation?.title }}</h3>
                <p class="text-description">{{ formation?.description }}</p>
            </li>
            }
        </ul>
    </div>


</div>