.container-home {
    display: flex;
    align-items: center;
}

p {
    color:
        rgb(53, 56, 59);
}

h1 {
    font-weight: unset;
}

img {
    width: 35%;
}

.icon-text {
    margin-left: 5px;
}

.item-redes {
    transition: color 0.3s ease; /* Transición suave para cambiar el color */
  }
  
  .item-redes:hover {
    color: #ff6f91!important; /* Color rosa al pasar el mouse */
  }
  
  .item-redes i {
    transition: color 0.3s ease; /* Aseguramos que el ícono también tenga una transición suave */
  }
  
  .item-redes:hover i {
    color: inherit; /* El ícono hereda el color del enlace en hover */
  }
  