<div class="container container-home">
    <div class="container">
        <h1>Griselda Alegre, Developer.</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam est incidunt veniam architecto accusantium
            iure veritatis rem at voluptate error, sed ut, nemo facere vel magni suscipit non deleniti eveniet?</p>
        <div class="col-md-7 mb-md-0">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-black text-decoration-none" target="_blank"
                        href="https://www.linkedin.com/in/griselda-daiana-alegre-b74680197/">
                        <i class="fab fa-linkedin"></i>
                        <span class="icon-text">Griselda Daiana Alegre</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-black text-decoration-none" target="_blank" href="https://github.com/griseldaalegre">
                        <i class="fab fa-github"></i>
                        <span class="icon-text">griseldaalegre</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-black text-decoration-none" target="_blank" href="#">
                        <i class="fas fa-envelope"></i>
                        <span class="icon-text">alegregriselda5&#64;gmail.com</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <img src="./../../../../assets/d2.png" alt="">
</div>