.container-home {
  display: flex;
  align-items: center;
}


h1 {
  font-weight: lighter;
}

img {
  width: 35%;
}

.icon-text {
  margin-left: 5px;
}

.item-redes {
  transition: color 0.3s ease;
}

.item-redes:hover {
  color: #ff6f91 !important;
}

.item-redes i {
  transition: color 0.3s ease;
}

.item-redes:hover i {
  color: inherit;
}